body {
	background-color: #5D4037;
	color: #ECEFF1;
	font-family: 'Amatic SC', cursive;
}

.container {
	margin: 0 auto;
}

.field {
	background: #66BB6A url(/assets/img/fence.png) bottom repeat-x;
	height: 500px;
}

#fence {

}

.hole {
	background-color: none;
	height: 118px;
	width: 100px;
	position: relative;

}

.invisible {
	display: none;
}

.countdown {
	background-color: #5D4037;
	position: relative;
	height: 65px;
	width: 170px;
	padding-left: 10px;
	left: 95px;
	bottom: 58px;
	font-size: 48px;
}

#btnStart {
	margin: 0 auto;
	position: relative;
	top: 5px;
}
#start {
	font-size: 30px;
	position: relative;
	left: 100px;
	z-index: 100;
	border-radius: 0px !important;
}

#header {
	height: 65px;
}

#middle {
	height: 65px;
}

#right {
	height: 65px;
}
#title {
	padding: 0px;
	position: relative;
	bottom: 20px;
}

#score {
	font-size: 48px;
	position: relative;
	padding: 20px;
	left: 75px;
	bottom: 22px;
}

#title>h1 {
	font-size: 4em;
}

#footer {
	background-color: #90A4AE;
	height: 65px;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 0px;
}

#credit {
	font-size: 24px;
	margin: 0 auto;
	padding: 5px;
}